.music{
    display: none;
}

.title{
    font-family: 'GT Pressura Mono', sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top:5%;
}
.sketchfab-embed-wrapper-mobile{
    display: none;
}

#playlist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding-top: 10px;
}

#link-wrapper{
    position: absolute;
width: 403px;
height: 103px;
padding-left: 40%;
top: 2500px;
padding-bottom: 10%;
width:fit-content;
}
.linktohome{
    background: #FF0000;
    color: white;
    font-family: 'GT Pressura Mono', sans-serif;
border-radius: 35px;
padding: 7%;
}

@media(max-width:500px){
    .sketchfab-embed-wrapper{
        display: none;
        }
        .sketchfab-embed-wrapper-mobile{
display: block;
        }
        #playlist{
            display: grid;
            grid-template-columns: 1fr;
        }
        .dj-booth{
            width: 304px;
            height: 500px;
            border-style: solid;
            border-radius: 35px;
            border-width: 5px;
            border-color: black;
            z-index:300;
            background-color: black;
            margin-top: 10%;
        }
        .sketchfab-embed-wrapper-2{
            display:none;
        }
        .sketchfab-embed-wrapper{
            display:none;
        }
}

@media(min-width:700px){
.sketchfab-embed-wrapper-2{
    display:block;
}
.sketchfab-embed-wrapper{
    display:none;
}
}

@media(min-width:1000px){
    .dj-booth{
        border-style: solid;
        border-radius: 35px;
        border-width: 5px;
        border-color: black;
        width: 1440px;
        height: 1030px;
        background-color: black;
        margin-top: 10%;
        z-index:300;
    }
    .sketchfab-embed-wrapper{
        display: block;
    }
    .sketchfab-embed-wrapper-2{
        display:none;
    }

#playlist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding-top: 10px;
    padding-left: 20%;
}
}