.music{
    display: none;
}

.sketchfab-embed-wrapper-mobile{
    display: none;
}

@media(max-width:500px){
    .sketchfab-embed-wrapper{
        display: none;
        }
        .sketchfab-embed-wrapper-mobile{
display: block;
        }
}

