* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 14px;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0 30px;
    font-family: 'GT Pressura Mono', sans-serif; 
  }
  
  h1 {
    font-size: 100px;
    font-family: 'GT Pressura Mono', sans-serif;
    line-height: 0.95;
    letter-spacing: -0.04em;
    text-align: center;
    position: sticky;
    top: 0;
    margin: 0 0 1em;
    padding-top: 1em;
  }
  
  img {
    width: 100%;
    max-width: 100%;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0 4px;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  
  
  #albums-list {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 100px;
  }
  
  .album {
    /* border: 1px solid #595959; */
    border: 1px solid transparent;
    border-radius: 7px;
    background-color: white;
    backdrop-filter: blur(4px);
    padding: 12px;
  }
  
  .album img {
    border-radius: 4px;
    margin-bottom: 20px;
  }

  @media(max-width:500px){
    #albums-list {
        position: relative;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-bottom: 100px;
      }
      h1 {
        font-size: 60px;
      }
  }