#id-container{
    padding: 20%;
}

#header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    text-align: center;
}

.text{
    font-family: 'GT Pressura Mono', sans-serif; 
    color: black;
}

#button-style{
/* background-color: red; */
color: white;
background-color: black;
padding: 10%;
border-radius: 25px;

border-style: solid;
border-color: black;
}

#footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 44%;
    text-align: end;
}

#id-images{
    padding: 5%;
    height: 350px;
    width: 500px;
    background-color:red;
    margin-left: 10%;
    border-radius: 25px;
    margin-top: 5%;
    margin-bottom: 5%;
}

#smoke-mobile-link-wrapper{
    display: none;
}
a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: 'GT Pressura Mono', sans-serif; }

a:hover{
    font-size: larger;
    transition: 0.5s;
}

@media(max-width:1000px){
.text{
    display: none;
}
#header{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: auto;
}
#id-images{
    height: 250px;
    width: 400px; 
    padding-bottom: 12%;
}
img{
    height: 250px;
    width: 360px;
    padding:5%;
}
#id-container{
    width:500px;
}      
#button-style{
    padding: 5%;
}  
/* #smoke-mobile-link{
    display: block;
    text-decoration: none;
    color: black;
} */

}
